*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root
{

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.Loader {
    display: grid;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: rgb(9, 9, 9);
    place-items: center; /* Centre le contenu horizontalement et verticalement */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);


    
    
    h2{
        color: white;
        font-size: 118px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        text-align: center !important;

        @include for-phone{
            font-size: 58px;
        }
    }

    .char{
        transform: translateY(115px);
        transition: transform .5s;
    }
}


.buttonstart{


    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(9, 9, 9);


}
.button{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 42px;
    background: rgb(48, 48, 48);
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: 1s all;

}

.button:hover{
    transform: scale(1.2);
}

.sectionInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 300px;
    width: 100%;
    padding: 20px;
    background-color: #0f0f0f;
}

.containerInfo{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(53, 53, 53);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: rgb(225, 225, 225);
    font-size: 20px;
    text-align: justify;
    line-height: 24px;
    padding-right: 20px;
    height: 500px;
    gap: 30px;
    width: 1300px;
}

.containerInfo img{
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}